/*--Main Components--*/
#TopImage {
    height: 242px;
    background-image: url("../assets/images/lire3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 48px;
}

.TopLogo {
    margin: 2.5% 0% 2.5% 0%;
    height: 150px;
}

.Spacers {
    padding: 18px 0px 10px 0px;
    color: #986E24;
}

.Spacer1 {
    margin: 0px 0px 70px 0px;
}

.Spacer2 {
    margin-top: 70px;
}

#LogosRow {
    margin: 19px 0px 19px 0px;
}

.StoryRow{
    margin: 70px 0px 0px 0px;
}

.StoryTitle {
    color: #B3B5B7;
} 

.BlockTitle {
    padding: 28px 0px 20px 0px;
    margin-bottom: 70px;
    color: #B3B5B7;
}

.BlockTexte {
    padding: 5px 0px 5px 0px;
}

/*"Notre fonctionnement" - Content Blocks */
.JuButton {
    font-size: 28px;
    margin: 70px 0px 70px 0px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}