#topImage {
    height: 230px;
    /*background-image: url("../assets/images/lire3.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: azure;  
}

.Spacer {
    border: 1px solid #707070;
    text-align: center; 
}

.assetBlock {
    border: 1px solid #707070
}

.ovBlock h3 {
    border: 1px solid #707070;
    text-align: center;
}

.blockTexte {
    border: 1px solid #707070;
}

.blockTexte a {
    text-align: ;
}

#moreImg {
    height: 25px;
    background-image: url("../assets/images/navigate_next_grey_192x192.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.ovButton {
    border: 1px solid #707070;
    height: 25px;
}

.juButton {
    text-align: center;
    border: 1px solid #707070;
    font-size: 28px;
}

.ghost {
    border: 1px solid #707070;
}